# custom files
#custom/

# temp files directories
cache/
log/
*.swp
.DS_Store

# editor configs
.vscode
.idea

# zcompile cached files
*.zwc
plans
GEMINI.md
!custom/plugins/conda-zsh-completion/
!custom/plugins/example/
!custom/plugins/fast-syntax-highlighting/
!custom/plugins/fzf-tab/
!custom/plugins/ollama_zsh_completion/
!custom/plugins/zsh-256color/
!custom/plugins/zsh-autosuggestions/
!custom/plugins/zsh-bat/
!custom/plugins/zsh-completions/
!custom/plugins/zsh-history-substring-search/
!custom/plugins/zsh-syntax-highlighting/
!custom/custom/themes/powerlevel10k/
!custom/themes/spaceship-prompt/
!custom/scripts/
!custom/custom-alias.zsh
